*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: "Cairo", sans-serif;
}

/* SECTION CLASSES */
header{
    background-color: #0084FD;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.content-header{
    padding: 0 35px;
    max-height: 47px;
    position: relative;
}
main{
    padding-top: 95px;
}

/* LAYOUTS CLASS */
.container{
    max-width: 90%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}
.header-col-left{
    width: 20%;
}
.header-col-right{
    width: 80%;
}
.content{
    margin: 15px;
   
}

/* UTILITY CLASSES */
.float-end{
    float: right;
}
.d-inline-block{
    display: inline-block;
}
    /* color */
.bg-purple{
    background-color: #9593E6;
}
.bg-lightblue{
    background-color: #B5DDFF;
}
.bg-blue{
    background-color: #0084FD;
}
.bg-white{
    background-color: #fff;
}
.blue-txt{
    color: #0084FD;
}
.black-txt a{
    color: black;
}
.grey-txt{
    color: #5A6D7E;
}
.lightgrey-txt{
    color: #d7d7d7;
}
.white-txt{
    color: #fff;
    text-decoration: none;
}
.purple-txt{
    color: #9593E6;
}

.btn{
    border-radius: 15px;
    text-align: center;
    padding: 3px;
}
.btn-numbers{
    border-radius: 15px;
    text-align: center;
    padding: 2px 18px;
    width: 30%;
}
.btn a{
    padding: 15px 10px;
}

.card{
    padding: 50px 50px 0 50px;
    border-radius: 15px;
}


.btn-first{
    border-radius: 30px;
    padding: 10px 0;
    width: 85%;
    text-align: center;
}
    /* margin */

.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.mb-75{
    margin-bottom: 75px;
}
.mt-75{
    margin-top: 75px;
}
.mr-5{
    margin-right: 5px;
}
.ml-5{
    margin-left: 5px;
}

    /* padding */
.pt-50{
    padding-top: 50px;
}
.pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.pl-150{
    padding-left: 150px;
}
.pt-5{
    padding-top: 5px;
}

    /* font */
.font-txt{
    font-size: 25px;
}
.font-txt-lg{
    font-size: 30px;
}
.txt-btn{
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .2rem;
}
.txt-center{
    text-align: center;
}

.align-center{
    margin: auto;
}
.img-center{
    margin: 0 auto;
}

.number-large{
    font-size: 50px;
}
/* SITE SECTIONS */
/* header */
.unstyle-list{
    list-style: none;
    display: flex;
}
.unstyle-list li{
    margin: 0 20px;
}
.unstyle-list li a{
    text-decoration: none;
}
.mobile-menu{
    padding: 11px 0;
}

/* chiedi metodo alternativo per allineare verticalmente al posto di usare padding !!!!!!!!!!!!!!!!!!!!!!! */
.desktop-menu{
    display: none;
    padding: 11px 0;
}
.icon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-card i{
    font-size: 75px;
    color: #0084FD;
}

/* FIRTS SECTION */
.card img{
    width: 100%;
    margin-bottom: -7.5px;
}

/* PLANNING SECTION */
.planning-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.planning-content h2{
    width: 100%;
}
.planning-content img{
    width: 100%;
}
.planning-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-sm{
    padding: 30px 0px 0 0px;
    border-radius: 75px;
}
.card-sm p{
    text-align: center;
    padding: 20px 10px;
}
.card-sm img{
    width: 100%;
}
.italic{
    font-style: italic;
}
.circle{
    border-radius: 50px;
    background-color: #9593E6;
    padding: 10px 25px;
    font-size: 25px;
    margin-bottom: 50px;
}

.round{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
.round img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-quotation{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(/img/about.jpg);
    background-size: cover;
    font-size: 30px;
}

/* MEDIA QUERY */

/* TABLET */
@media screen and (min-width: 576px) {
    /* layout */
    .col-md-66{
        width: calc(100% / 3 * 2);
    }
    .col-md-33{
        width: calc(100% / 3);
    }
    .col-md-50{
        width: 50%;
    }
    .col-md-60{
        width: 60%;
    }
    .col-md-40{
        width: 40%;
    }
    /* first section */
    .card img{
        width: 80%;
    }
    .card-top{
        min-height: 713px;
    }
    
}

/* DESKTOP */
@media screen and (min-width: 768px) {
    .col-lg-50{
        width: 50%;
    }
    .col-lg-33{
        width: calc(100% / 3);
    }
    .container-sm{
        width: 60%;
        margin: 0 auto;
    }
    /* first section */
    .card img{
        width: 100%;    
    }
}
@media screen and (min-width: 1102px) {
    .col-xlg-50{
        width: 50%;
    }
    .desktop-menu{
        display: block;
    }
    .mobile-menu{
        display: none;
    }
    .card{
        min-height: 350px;
    }
    .card img{
        margin-bottom: 0;    
    }
    .flex-bottom{
        display: flex;
        align-items: end;
    }
    .btn-first{
        width: 100%;
    }
    .container{
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (min-width:1329px) {
    .btn-first{
        width: 75%;
    }
}
